@import url(https://fonts.googleapis.com/css?family=Comic+Neue:400,700);
*{
    @property --colour {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}
    font-family: 'Comic Neue';
    margin: 0;
    text-align: center;
    background-color: #ccc;
}
h1 {
    padding-top: .5em;
    padding-bottom: .5em;
    font-style: italic;
    border-bottom: .75em solid #CDB7AA;
    --colour: #444;
}
.big-text {
    font-size: 15em;
    color: #444;
}
br { display: none; }

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 2em;
        border-bottom: none;
    }
    .big-text {
        font-size: 7em;
        margin-top: -0.2em;
    }
    br { display: inline-block; }
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1em;
        padding-bottom: 1em;
    }
    .big-text {
        font-size: 5em;
        margin-top: -0.2em;
    }
    br { display: inline-block; }
}