* {
  color: #ffffff !important;
  transition: all 500ms;
}
.imgHeader {
  min-height: 9em;
  max-height: 18em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/img1.webp");
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 8em;
  margin: 0;
}
.imgHeader h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 100vw;
  padding: 3em;
  backdrop-filter: blur(5px);
}
body {
  background-color: #555 !important;
  color: #ffffff !important;
}
.navbar,
.logo-div {
  background-color: #333 !important;
}
.navbar {
  min-height: 10vh;
  z-index: 1;
}
.nav-link {
  font-size: 2em;
  margin-right: 1em;
  border-bottom: 5px solid #333;
}
.nav-link:hover {
  border-bottom: 5px solid #ffffff;
}

.dropdown-item,
.dropdown-menu {
  background-color: #555;
  color: #ffffff;
}
.dropdown-item:hover {
  background-color: #333;
}

.dropdown-item {
  cursor: pointer;
}

/*
LOGO
*/
.logo img {
  max-width: 30vw;
  padding: 1em;
}

/*
Mobile
*/
@media only screen and (max-width: 600px) {
  .imgHeader {
    min-height: 2em;
    max-height: 13em;
    line-height: 1em;
  }
  .logo img {
    max-width: 100vw;
  }
}
