/*
    SETUP
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    font-family: "Raleway", sans-serif;
}

body {
  margin: 1em;
  height: 100vh;
}

h1 {
    font-size: 7em !important;
}
h2 {
    font-size: 4em !important;
}
a, p, li {
    color: black;
    font-size: 2em;
}
img {
    border-radius: 50%;
    margin-top: -5em;
}

/*
    TOPBAR
*/
#topbar {
    text-align: center;
    margin-top: -5em;
}

/*
    Just smaller details
*/
#ignoreprev {
    font-size: 1em !important;
}


/*
    Lists
*/
ul {
    margin-top: -3em;
    padding-bottom: 5em;
}