* {
    margin: 0;
}
body {
    background-color: #9FCEEE !important;
}
h1 {
    color: #222 !important;
}

.white {
    font-size: 4rem !important;
    line-height: 1 !important;
    gap: 1rem;
    background-color: #fff !important;
}

.italic {
    font-style: italic;
}

.pink, .white, .blue {
    height: 20vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink {
    background-color: #FFB6C1 !important;
}