* {
    background-color: #F5B7DE !important;
    color: #fff !important;
}
h1 {
    border-bottom: .75em solid #9FCEEE !important;
    color: #222 !important;
}

@media only screen and (max-width: 1200px) {
    h1 {
        border-bottom: none !important;
    }
}