<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Queerism | Home</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons|Roboto'>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.touchSwipe.js"></script>
    <script src="js/hammer.js"></script>
</head>
<body>
  <div id="xmb-contain">
  <div id="xmb">
    <ul>
      <li class="column" v-for="column,index in columns" v-bind:class="{active:column.active}" v-bind:style="{left:column.position.x+'px'}">
        <div class="cell" v-bind:class="{active:column.active}" v-on:click="highlightCell(column.index,0)"><i class="material-icons xmb-icon">{{column.icon}}</i>
          <label>{{column.title}}</label>
        </div>
        <ul>
          <li class="cell submenu" v-for="item,itemIndex in column.items" v-bind:class="{active:item.active}" v-bind:style="{top:item.position.y+'px'}" v-on:click="highlightCell(column.index,itemIndex)">           <a v-bind:href="item.active?item.href||'#missinglink':'#'"><i class="material-icons xmb-icon">{{item.icon}}</i>
              <label>{{item.title}}
                <label class="subtitle">{{item.subtitle}}</label>
              </label></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
  <script  src="js/zepto.min.js"></script>
  <script  src="js/lodash.min.js"></script>
  <script  src="js/vue.js"></script>
  <script  src="js/index.js"></script>
  

</body>

</html>
