* {

	font-family: 'Roboto', sans-serif; 
}
@keyframes example {
  0%   {opacity: 0;}
  100% {opacity: 1.0;}
}
h1 {
	margin-left: auto;
    margin-right: auto;
    width: 8em;
    text-align: center;
}
#today {
	font-size: 6em;
	margin-top: 2em;
}
#theDay {
	font-size: 10em;
	margin-top: -.5em;
}
#theDate {
	margin-top: -4em;
	animation-name: example;
	animation-duration: 6s;
}