
* {
    font-size: 1.1em;
    font-family: sans-serif;
}
input {
    border: none;
    background-color: lightgray;
    padding: .25em 0em;
    width: 110%;
    margin-left: -.5em;
    margin-top: 10em;
    text-indent: .5em;
}

#chatbox {
    background: gray;
    padding: 1em 1em;
    border: none;
    text-align: center;
    left:0;
    right:0;
}

#chattext {
    padding: 0em .5em;
    background-color: white;
    overflow: hidden;
}
